<div class="span10 content-setting">
	<h3>收货地址</h3>	
	<div class="bg-content">	
		<p>
			<a class="btn btn-primary" href="/user_addresses/new">新增收货地址</a>
		</p>
		
		<table class="table table-striped table-bordered">
			<thead>
			  <tr>
				<th>收货人</th>
				<th>详细地址</th>
				<th>手机号码</th>
				<th>邮政编码</th>
				<th>操作</th>
			  </tr>
			</thead>
			<tbody>
			<% @user_addresses.each do |user_address| %>
			  <tr>
				<td><%= user_address.name %></td>
				<td><%= user_address.state %>省<%= user_address.city %>市<%= user_address.district %> 区<%= user_address.address %></td>
				<td><%= user_address.mobile %></td>
				<td><%= user_address.zip %></td>
				<td>
					<a href="/user_addresses/<%= user_address.id %>"><i class="icon-search"></i>查看</a>
					<a href="/user_addresses/<%= user_address.id %>/edit"><i class="icon-edit"></i>编辑</a>
          <%= link_to '删除', user_address, method: :delete, data: { confirm: '确认删除？' } %>
				</td>
			  </tr>
			<% end %>
			</tbody>
		</table>

	</div>
	<!--/.bg-content -->
</div>
<!--/.span10 -->
