<!--share modal -->
<% 
  @user_share = UserShare.new
  @photo = @user_share.photos.build
%>
<div class="modal hide"  id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">上传图片</h3>
  </div>
  <div class="modal-body" >
    <%= simple_form_for(@user_share) do |f| %>
      <%= f.error_notification %>
    <%= f.input :category_id, :collection => current_user.categories %>
    <%= f.simple_fields_for :photos do |p| %>
      <%= p.input :url, :as => :file%>
  <% end %>
<div class="field">
  <%= f.label :tag_list, "Tags (separated by commas)" %><br />
  <%= f.text_field :tag_list %>
</div>
    <div class="form-actions">
      <%= f.button :submit, :id=>'addUserShare' %>
    </div>
  <% end %>
  </div>
</div>
<div class="modal hide"  id="share_success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">分享成功</h3>
  </div>
  <div class="modal-body" >
    <a id="wantbuy">享购</a>
    <a id="tosell" >享售</a>
    <a id="continuesharebtn" >继续分享</a>
    <a id="sharedetail">查看分享</a>
    <br>
    分享至微薄或者其他平台
  </div>
</div>
<% content_for :javascript do %>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
          new NewUserSharesView();
      });
    </script>
  <% end %>
