<!--share modal -->
<div class="modal hide"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">上传图片</h3>
  </div>
  <div class="modal-body" >
    <%= simple_form_for(@user_share) do |f| %>
      <%= f.error_notification %>
    <%= f.input :category_id, :collection => current_user.categories %>
    <%= f.simple_fields_for :photos do |p| %>
      <%= p.input :url, :as => :file%>
  <% end %>
    <h3>tags</h3>
    <%= f.simple_fields_for :tags do |t| %>
      <%= t.input :name %>
  <% end %>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
  </div>
</div>
