<%= simple_form_for(@user_share) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :picture_url %>
    <%= f.input :title %>
    <%= f.text_area :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
