<div class="span10 content-setting">

  <h3>我的分享</h3>	
  <div class="bg-content">
  
	  <div class="row">
	  <% @user_shares.each do |share| %>
		<div class="span3 galery">
		  <div class="image-galery">
			<a class="group" rel="group1" href="/user_shares/<%=share.id%>">
			  <img src="<%=share.photos.first.url %>"/>
			</a>
		  </div>
		  <div class="count-galery">
			<ul class="clearfix">
			  <li><a href="/users/<%=share.owner.id %>">User<%=share.owner.id %></a></li>
			  <li><i class="icon-comment"></i><%=share.comments.count %> </li>
			  <li><i class="icon-heart"></i><%=share.user_likes.count %> </li>
			</ul>
			<div class="tags-galery">
			  <p>花朵, 大自然, 清新<%= raw share.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
			</div>
		  </div>
		  <div class="collect-galery">
			转享信息转享信息转享信息转享信息
		  </div>
		</div>
	  <% end  %>
	  </div>
	  
	</div>
	<!--/.bg-content -->
</div>
<!--/.span10 -->
