<div class="row">

  <div class="span9">
    <div class="row">
      <div class="span9 image-detail">
        <div class="auto image-single">
          <img src="<%=asset_path '4_b.jpg'%>" class="centered" />
        </div>
      </div>
      <div class="span9 image-description">
        <h3>Description</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed erat tristique sem rutrum laoreet facilisis ut tortor. 
        Cras tristique ultricies est sit amet consequat. Quisque nibh nunc, consequat at molestie vel, fermentum sit amet felis. 
        Donec id lectus ligula, non tempus ante. Aliquam ut turpis enim, eget rhoncus arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Morbi feugiat accumsan felis, in mattis sapien fringilla et. Nullam placerat viverra massa, eu vestibulum neque blandit in. 
        Morbi ac diam ac elit interdum tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet, enim sit amet faucibus rhoncus, eros tortor.</p>
      </div>
      <div class="span9 image-comments">
        <div class="comment">
          <h3>3 Comments On This Image</h3>
          <ul>
            <li>
            <div class="avatar">
              <a href="#"><img src="<%=asset_path 'gravatar.jpg' %>" /></a>
              <span class="comment-name"><a href="#">John Doe</a></span>
              <span class="comment-date"><p>July 16th, 2012 at 4:49 pm</p></span>
            </div>
            <div class="comment-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis condimentum dignissim. 
              Curabitur sapien nisi, ultrices vitae iaculis quis, consectetur ac neque. Phasellus vitae lorem.</p>
            </div>
            </li>
            <li class="comment-blue">
            <div class="avatar">
              <a href="#"><img src="<%=asset_path 'gravatar.jpg' %>" /></a>
              <span class="comment-name"><a href="#">John Doe</a></span>
              <span class="comment-date"><p>July 16th, 2012 at 5:09 pm</p></span>
            </div>
            <div class="comment-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis condimentum dignissim. 
              Curabitur sapien nisi, ultrices vitae iaculis quis, consectetur ac neque. Phasellus vitae lorem.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis condimentum dignissim. 
              Curabitur sapien nisi, ultrices vitae iaculis quis, consectetur ac neque. Phasellus vitae lorem.</p>
            </div>
            </li>
            <li>
            <div class="avatar">
              <a href="#"><img src="<%=asset_path 'gravatar.jpg' %>" /></a>
              <span class="comment-name"><a href="#">John Doe</a></span>
              <span class="comment-date"><p>July 16th, 2012 at 5:49 pm</p></span>
            </div>
            <div class="comment-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis condimentum dignissim. 
              Curabitur sapien nisi, ultrices vitae iaculis quis, consectetur ac neque. Phasellus vitae lorem.</p>
            </div>
            </li>
          </ul>
        </div>

        <br class="clearfix" />
        <h3>Post Comment</h3>
        <div class="post-comment">
          <form class="form-horizontal">
            <textarea rows="5" class="input-xxlarge inp-btm" name="comments" style="resize: none;" placeholder="Enter your comment here.."></textarea><br />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="span3">
    <div class="row">
      <div class="span3 sidebar-detail-menu">
      <% if !@user_share.isown?(current_user.id) %>
        <ul>
          <li><a href="#" rel="tooltip" title="Share">转享</a></li>
          <li><a href="/" rel="tooltip" title="Buy">我想买</a></li>
          <li><a href="#" rel="tooltip" title="Like">喜欢</a></li>
        </ul>
      <% else %>
        <ul>
          <li><a href="/" class="btn btn-large" >求购</a></li>
          <li><a href="/items/new?share=<%=@user_share.id %>" class="btn btn-large" >我想卖</a></li>
        </ul>
      <% end  %>
      </div>
      <div class="span3 sidebar-detail-similiar">
        <div class="similiar-image">
          <h4>Similar Image</h4>
          <a href="#"><img src="<%=asset_path '1_b.jpg' %>" class="img-thumbs" /></a><a href="#"><img src="<%=asset_path '2_b.jpg' %>" class="img-thumbs" /></a><a href="#"><img src="<%=asset_path '3_b.jpg' %>" class="img-thumbs" /></a>
          <a href="#"><img src="<%=asset_path '4_b.jpg' %>" class="img-thumbs" /></a><a href="#"><img src="<%=asset_path '5_b.jpg' %>" class="img-thumbs" /></a><a href="#"><img src="<%=asset_path '1_b.jpg' %>" class="img-thumbs" /></a>
        </div>
      </div>
      <div class="span3 sidebar-detail-category">
        <div class="category-image">
          <div class="cat-tags">Tags : <a href="#">Building</a>, <a href="#">Tower</a>, <a href="#">Eifel</a>, <a href="#">Wonders of the world</a>, <a href="#">Miracle</a></div>
          <div class="cat-category">Category : <a href="#">image</a>, <a href="#">building</a>, <a href="#">photography</a> </div>
          <div class="cat-buy">Buy by : <a href="#">John Doe</a>, <a href="#">Lisa</a>, <a href="#">Andra</a>, <a href="#">Avriq</a>, <a href="#">Aji satria</a> </div>
          <div class="cat-liked">Liked by : <a href="#">Lisa</a>, <a href="#">John Doe</a>, <a href="#">Avriq</a>, <a href="#">Aji satria</a> </div>
          <div class="cat-shared">Shared by : <a href="#">Nichols</a>, <a href="#">John Doe</a>, <a href="#">Avriq</a>, <a href="#">Abraham</a>, <a href="#">Jordan</a>, <a href="#">James</a> </div>
        </div>
      </div>
    </div>
  </div>

</div>
    </div>


  </div>
