<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_share.user_id %>
</p>

<p>
  <b>Item:</b>
  <%= @user_share.item_id %>
</p>


<%= link_to 'Edit', edit_user_share_path(@user_share) %> |
<%= link_to 'Back', user_shares_path %>
