<div class="span10 content-setting">
  
	<h3>我的消息</h3>	
	<div class="bg-content">
  
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>发件人</th>
				<th>收件人</th>
				<th>消息主题</th>
				<th>消息类型</th>
				<th>消息内容</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		<% @notifications.each do |notification| %>
		<tr>
			<td><%= notification.from_id %></td>
			<td><%= notification.to_id %></td>
			<td><%= notification.object_id %></td>
			<td><%= notification.object_type %></td>
			<td><%= notification.description %></td>
			<td>
				<a href="#"><i class="icon-search"></i>查看</a>
				<a href="#"><i class=" icon-remove"></i>删除</a>
			</td>
		</tr>
		<% end %>
		</tbody>
	</table>
  
	</div>
	<!--/.bg-content -->
</div>
<!--/.span10 -->