  <% @shares.each do |share| %>
    <div class="span3 galery">
      <div class="image-galery">
        <a class="group" rel="group1" href="/user_shares/<%=share.id%>">
          <img src="<%=share.photos.first.url %>"/>
        </a>
      </div>
      <div class="count-galery">
        <ul>
          <li><a href="/users/<%=share.owner.id %>">User<%=share.owner.id %></a></li>
          <li><i class="icon-comment"></i><%=share.comments.count %> </li>
          <li><i class="icon-heart"></i><%=share.user_likes.count %> </li>
        </ul>
      </div>
      <div class="tags-galery">
        <p><i class="icon-tags"></i> Tags : <% share.tags.each do | tag | %><a href="#"><%= tag.name %></a> <% end  %></p>
      </div>
    </div>
  <% end  %>

