<div class="account-container btm10">
  <div class="form-content clearfix">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <h1><i class="iconbig-lock"></i> 登录</h1>	
	  
	  <div class="login-social marg10-btm">
		<p><a href="#" class="btn"><img src="<%= asset_path 'twitter-18.png' %>" /> 使用 twitter 账号登录</a></p>
		<p><a href="#" class="btn"><img src="<%= asset_path 'facebook-18.png' %>" /> 使用 facebook 账号登录</a></p>			
	  </div>
	  
      <div class="login-fields">
        <div class="field">
          <label for="username">用户名:</label>
          <input type="text" id="username" name="username" value="" placeholder="用户名" class="login username-field" required />
        </div> <!-- /field -->

        <div class="field">
          <label for="username">邮箱:</label>
          <input type="text" id="user[email]" name="user[email]" value="" placeholder="邮箱" class="login email-field" required />
        </div> <!-- /field -->

        <div class="field">
          <label for="password">密码:</label>
          <input type="password" id="user[password]" name="user[password]" value="" placeholder="密码" class="password password-field" required />
        </div> <!-- /password -->

      </div> <!-- /login-fields -->			

      <div class="login-actions">
        <span class="login-checkbox">
          <%= f.input :remember_me, :label => "记住密码", :as => :boolean if devise_mapping.rememberable? %>
        </span>
        <%= f.button :submit, "登录" ,:class=>"btn-signin btn btn-primary" %>
      </div> <!-- .actions -->
    <% end %>

  </div> <!-- /form-content -->

</div> <!-- /account-container -->

