<div class="span12 wrap-container">
  <div class="trades">
	<div class="trades-title">
	  <h2>购物车</h2>
	  <hr/>
	</div>
	<ul class="breadcrumb">
		<li class="active">查看购物车 <span class="divider">/</span></li>
		<li>购买商品 <span class="divider">/</span></li>
		<li>付款到支付宝 <span class="divider">/</span></li>
		<li>购买成功</li>
	</ul>
	<section class="bg-content clearfix">
		<table class="orders-table table">
		  <thead>
			<tr>
			  <th>商品名称</th>
			  <th>图片</th>
			  <th>价格</th>
			  <th>数量</th>
			  <th>操作</th>
			</tr>
		  </thead> 
		  <tbody>
			<% @cart.cart_items.each do |cart_item| %>
			<tr>
			  <td><img style="width:100px;height:100px;" src="<%= cart_item.item.user_share.photos.first.url %>"/></td>
			  <td><a href="<%= cart_item.item_id %>"><%= cart_item.item.title %></a> </td>
			  <td class="value"><%= cart_item.item.price %></td>
			  <td><%= cart_item.count %></td>
			  <td class="actions">
				<a href="#">删除</a>
			  </td>
			</tr>
			<% end %>
		  </tbody>
		</table>
		<div class="bar-total">
			<span class="total-price">商品总价(不含运费)：<em class="total-money">108.30</em>元</span><a class="btn btn-large btn-primary" href="/trades/new">结算</a>
		</div>
	</section>
  </div>
</div>

