  <div class="row">
    <div class="span12">
      <div class="slate">
        <div class="page-header">
          <h2>购物车</h2>
        </div>
        <table class="orders-table table">
          <thead>
            <tr>
              <th>商品名称</th>
              <th class="value">图片</th>
              <th class="value">价格</th>
              <th class="value">数量</th>
              <th class="actions">操作</th>
            </tr>
          </thead>
          <tbody>
            <% @cart.cart_items.each do |cart_item| %>
            <tr>
              <td><img style="width:100px;height:100px;" src="<%= cart_item.item.user_share.photos.first.url %>"/></td>
              <td><a href="<%= cart_item.item_id %>"><%= cart_item.item.title %></a> </td>
              <td class="value"><%= cart_item.item.price %></td>
              <td><%= cart_item.count %></td>
              <td class="actions">
                <input type="button" value="删除" class="btn"/>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
         <a class="btn btn-large btn-primary" href="/trades/new"> 结算</a>
      </div>
    </div>

