<div class="row">
<div id="photos" class="photos">
  <% @photos.each do |photo| %>
    <div class="photo">
      <img src="<%= photo.url %>!big" />
      <div class="name"><%= photo.origin_name %></div>
    </div>
  <% end %>
</div>
</div>

<div class="row">
<%= form_for Photo.new do |f| %>
  <%= f.label :image, "Upload paintings:" %>
  <%= f.file_field :url, multiple: true, name: "photo[url]" %>
<% end %>

<br>
<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>
</div>
