<div class="span9 content-setting">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>操作</th>
    </tr>

    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %>
        <%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Category', new_category_path %>
</div>
