<div class="span9 content-setting">
  <table class="table">
    <tr>
      <th>Status</th>
      <th>Receiver</th>
      <th>Received payment</th>
      <th>Available confirm fee</th>
      <th>Total fee</th>
      <th>Price</th>
      <th>操作</th>
    </tr>

    <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.status %></td>
        <td><%= trade.buyer.email %></td>
        <td><%= trade.received_payment %></td>
        <td><%= trade.available_confirm_fee %></td>
        <td><%= trade.total_fee %></td>
        <td><%= trade.price %></td>
        <td><%= link_to 'Show', trade %><%= link_to 'Edit', edit_trade_path(trade) %></td>
      </tr>
    <% end %>
  </table>
</div>
