<div class="span9 content-setting">
  <table class="table">
    <tr>
      <td>商品信息</td>
      <td>买家信息</td>
      <td>收货地址</td>
      <td>价格</td>
      <td>下单时间</td>
    </tr>
    <% @trades.each do |trade| %>
      <tr>
        <td><% trade.orders.each do |order| %><%=order.count %><img src="<%= order.item.user_share.photos.first.url %>" style="width:100px;height:100px" /><% end %></td>
        <td><a href="/users/<%= trade.buyer.id %>" target="blank"><%= trade.buyer.name %></a></td>
        <td>
          <%=trade.receiver_city %>
          <%=trade.receiver_address %>
          <%=trade.receiver_mobile %>
          <%=trade.receiver_name %>
          <%=trade.receiver_state  %>
          <%=trade.receiver_district  %>
          <%=trade.receiver_zip %>
        </td>
        <td><span class="badge badge-info"><%=trade.price%></span></td>
        <td><%=trade.created_at  %></td>
      </tr>
    <% end %>
  </table>
</div>
